<h1>SHOWCASE</h1>


  <%= button_to 'Créer une nouvelle catégorie', new_category_path, method: :get, class:"btn btn-primary" %>

  <div class="card-container">
    <% Category.all.each do |category| %>
      <div class="card-large">
        <% if category.photo.attached? %>
          <%= image_tag category.photo, class: "card-image" %>
        <div class="card-content">
          <h1><center><%= category.name %></center></h1>
          <div class="button-container">
            <%= button_to 'Voir les objets', category_path(category.id), method: :get, class:"btn btn-primary" %>
            <%= button_to "Supprimer", category_url(category), method: :delete, data: { confirm: 'Êtes-vous sur?' }, class:"btn btn-danger"%>
            <%= button_to 'Modifier', edit_category_path(category), method: :get, class:"btn btn-warning" %>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
