<%= button_to 'Créer un nouvel item', new_category_item_path(@category), method: :get, class:"btn btn-primary"  %>

  <%= button_to 'Accueil', root_path, method: :get, class:"btn btn-primary" %>

<div class="search-container">
  <%= form_tag(category_items_path(@category), method: :get, id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Rechercher dans le nom ou la description", id: "search-input" %>

    <%= select_tag :search_in, options_for_select([['Nom', 'name'], ['Description', 'description']], params[:search_in]), { include_blank: 'Tous les champs', id: "search-in" } %>

    <%= submit_tag "Rechercher", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="card-container">
  <% @items.each_with_index do |item, index| %>
    <div class="card-large">
      <div id="carouselitem-<%= index %>" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% if item.photos.present? && item.photos.attached? %>
            <% item.photos.each_with_index do |photo, index_photo| %>
              <div class="carousel-item <%= index_photo == 0 ? 'active' : '' %>">
                <%= image_tag rails_blob_path(photo, only_path: true), class: "d-block w-100 card-image", alt: item.name %>
              </div>
            <% end %>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselitem-<%= index %>" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselitem-<%= index %>" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="card-content">
        <h1><center><%= item.name %></center></h1>
        <p><center><%= item.description %></center></p>
        <div class="button-container">
          <%= button_to "Supprimer", category_item_path(category_id: @category.id, id: item.id), method: :delete, data: { confirm: 'Êtes-vous sur?' }, class:"btn btn-danger" %>
          <%= button_to "Modifier", edit_category_item_path(category_id: @category.id, id: item.id), method: :get, class:"btn btn-warning" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= will_paginate @items %>
