<%= button_to 'Créer un nouvel item', new_category_item_path(@category), method: :get  %>

  <%= button_to 'Accueil', root_path, method: :get %>


<div class="card-container">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <% @items.each_with_index do |item, index| %>
        <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
          <% if item.photos.present? && item.photos.attached? %>
            <%= image_tag rails_blob_path(item.photos.first, only_path: true), class: "d-block w-100", alt: item.name %>
          <% end %>
          <div class="carousel-caption d-none d-md-block">
            <h5><%= item.name %></h5>
            <p><%= item.description %></p>
          </div>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
