<%= button_to 'Créer un nouvel item', new_category_item_path(@category), method: :get  %>

  <%= button_to 'Accueil', root_path, method: :get %>


<div class="card-container">
        <% @items.each_with_index do |item, index| %>
  <div class="card-large">
    <div class="card-image">
    <div id="carouselitem-<%= index %>" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
            <% if item.photos.present? && item.photos.attached? %>
              <% item.photos.each_with_index do |photo, index_photo| %>
                <div class="carousel-item <%= index_photo == 0 ? 'active' : '' %>">
                  <%= image_tag rails_blob_path(photo, only_path: true), class: "d-block w-100", alt: item.name %>
                </div>
              <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselitem-<%= index %>" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselitem-<%= index %>" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
            <% end %>
  </div>
  <div class="card-content">
          <h1><center><%= item.name %></center></h1>
          <p><center><%= item.description %></center></p>


        </div>
  </div>
        <% end %>
</div>
